
.grafico_lista,
.piechart_div
{
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
}

.grafico_lista {
	margin: 10px 0 25px;
}
.grafico_lista .lista {
	height: 200px; 
	overflow: auto;
}
.piechart_div {
	margin: 0 0 5px;
}