<script type="text/template" id="graph-template">

	<div class="widget js-main">
            <div class="widget-header bordered-bottom bordered-themeprimary">
                <i class="widget-icon fa fa-tasks themeprimary"></i>
                <span class="widget-caption themeprimary">Task Board</span>
            </div><!--Widget Header-->
            <div class="widget-body no-padding">
                <div style="height: 600px" class="databox databox-lg databox-inverted radius-bordered databox-shadowed databox-graded databox-vertical" style="margin:0">
                                        <div id = "graph" style="height: 400px" class="databox-top bg-azure no-padding">
                                           
                                        </div>
                                        <div class="databox-bottom no-padding">
                                            <div class="form-group">
                                                
                                            </div>

                                        </div>
                                    </div>

            </div><!--Widget Body-->
	</div>

</script>