<script type="text/template" id="graph-template">
    <style>
        .grafico_lista,
        .piechart_div
        {
            box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
        }

        .grafico_lista {
            margin: 10px 0 25px;
        }
        
        .piechart_div {
            margin: 0 0 5px;
        }
    </style>
<div class="widget radius-bordered simulacao js-widget" style="">                                         
    <div class="widget-header bg-seashell">
        <span class="widget-caption silver js-title"></span>
        
        
        <div class="widget-buttons buttons-bordered hidden-print">
            <span>Dimensões <span class="badge bg-themeprimary js-dim-tooltip" data-toggle="tooltip" data-placement="right" data-original-title="Definir eixo X, eixo Y e Bolhas, respectivamente." style="vertical-align: text-bottom;">?</span> </span>              
            <span class="padding-left-5">X: </span>
            <label class="no-margin">
                <select class="form-control input-xs js-dim js-x">                      
                </select>
            </label>
        </div>
        
        <div class="widget-buttons hidden-print">
            <span>Y: </span>
            <label class="no-margin">
                <select class="form-control input-xs js-dim js-y">                      
                </select>
                <span class="text"></span>
            </label>
        </div>
        
        <div class="widget-buttons hidden-print">
            <span>Bolhas: </span>
            <label class="no-margin">
                <select class="form-control input-xs js-dim js-z">                      
                </select>
                <span class="text"></span>
            </label>
        </div>                                  
        
        
        
        <div class="widget-buttons buttons-bordered hidden-print">
            <span><a id="" class="btn btn-default btn-sm js-export">Exportar</a></span>
        </div>
        <div class="widget-buttons buttons-bordered hidden-print">                                  
            <a href="#" class="js-config">
                <i class="fa fa-cog silver"></i>
            </a>
            <a href="#" class="js-maximize" data-toggle="maximize">
                <i class="fa fa-expand silver"></i>
            </a>
            <a href="#" data-toggle="collapse">
                <i class="fa fa-minus silver"></i>
            </a>
        </div>                                  
    </div>
    
    
    <div class="widget-body">
        <div class="row">
            <div class="col-md-8 col-sm-12 col-xs-12 js-graph-el">
                
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div  style="margin: 0 auto;width: 228px;">
                    <div class="js-pie-el">                        
                    
                    </div>
                </div>              
                <div class="grafico_lista js-attributes-el">                        

                                                        
                </div>      
                
            </div>                                              
        </div>

    </div>
</div>

<div class="js-modal-el">
</div>






    

</script>